.parallax-window{
    min-height:400px;
    background: transparent
}
h4{
    color: black
}
.row{
    display:grid
}
.page-title {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
}
.fa-book-open{
    font-size: 24px;
}

.border{
    padding: 5px 13px 6px 22px;
}
.fa-book-open{
    padding: 5px 14px 7px 14px;
    border-left: 1px;
}
.row {
    display: -webkit-box;
}
.card{
    padding: 6px
}